@font-face {
    font-family: 'Grotesk';
    src: url('GroteskMedium.woff2') format('woff2'),
        url('GroteskMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

