.fortress6 {

    //basic starts
    .global-social{
        display: flex;
        column-gap: 10px;

        .site-btn{
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
        }
    }
    .text-normal-case{
        text-transform: none !important;
    }
    .text-uppercase{
        text-transform: uppercase !important;
    }
    .global-border-radius-all-side{
        border-radius: 2px;
    }
    .overflow-hidden{
        overflow: hidden;
    }
    .pos-relative{
        position: relative;
    }
    .text-white{
        .basic-entry, &.basic-entry{
            & * {
                color: white;
            }
        }
    }
    .my-row{
        row-gap: $grid-gutter-width;
    }
    .section-pad-default{
        padding: 100px 0;
    }
    .global-shadow {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
    .site-bg-Primarylight{
        background-color: var(--site-primary-color-extreme-light);
    }
    .site-text-dark{
        color: var(--site-text-dark);
    }
    .uplift-section-type-1{
        margin-top: -75px;

        & + section{
            padding-top: 200px;
        }
    }
    .grid-flex-v-align-center{
        align-items: center;
    }
    .row-with-col-auto-column-gap-1{
        column-gap: 50px;
    }
    .content-justify-center{
        justify-content: center;
    }
    .my-row{
        &.attach-row{
            margin-left: 0px;
            margin-right: 0px;

            & > .my-col{
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
    .element-gap-normal{
        margin-bottom: 3rem;
    }
    img{
        &.block-img{
            width: 100%;
            height: auto;
        }
        &.img-default-radius{
            border-radius: 2px;
        }
    }
    //basic ends

    // site-form-module
    .site-form-module{
        
        .form-control{
            border-radius: 2px;
            border: none;
        }

        .text-input{
            &.form-control{
                height: 55px;
            }
        }
    }
    // site-form-module

    // global square icon
    .global-square-icon{
        &.lg-font{
            i{
                font-size: 22px;
            }
        }
        i{
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            border-radius: 2px;
            font-size: 18px;
        }
    }
    .global-iconic-widget{
        display: flex;
        column-gap: 25px;
        row-gap: 25px;
        &.wrap-view{
            flex-wrap: wrap;
        }
    }
    // global square icon

    // typography
    
    .basic-entry{
        ul, ol{
            margin-bottom: 1rem;
            &:last-child{
                margin-bottom: 0px;
            }
        }
        strong{
            font-weight: var(--site-primary-font-normal);
        }
        h1, h2, h3, h4,h5, h6{
            color: var(--site-text-dark);
        }
        h1, h2, h3{
            font-weight: var(--site-primary-font-light);
        }
        h4, h5, h6{
            font-weight: var(--site-primary-font-thin);
        }
        h1{
            font-size: 5rem;
            line-height: 1.2;
        }

        h2{
            font-size: 4rem;
            line-height: normal;
        }

        h3{
            font-size: 3rem;
            line-height: normal;
        }

        h4{
            font-size: 2rem;
            line-height: normal;
        }

        h5{
            font-size: 1.5rem;
            line-height: normal;
        }

        h6{
            font-size: 1.3rem;
            line-height: normal;
        }

        p{
            color: var(--site-secondary-color);
        }

        ul{
            &.check-mark-listing{
                padding: 0px;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                column-gap: 1.5rem;
                row-gap: 0.7rem;

                li{
                    margin: 0px;
                    padding: 0 0 0 30px;
                    position: relative;
                    font-size: 1.2rem;
                    font-weight: var(--site-primary-font-normal);
                    width: 42%;

                    &:before{
                        font-family: 'FontAwesome';
                        content: "\f00c";
                        color: var(--site-primary-color);
                        position: absolute;
                        left: 0px;
                        top: 0px;
                    }
                }
            }
            &.custom-mark-listing{
                padding: 0px;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                column-gap: 1.5rem;
                row-gap: 0.7rem;

                &.sm{
                    column-gap: 1.2rem;

                    li{
                        font-size: 0.8rem;
                        padding-left: 22px;
                        width: auto;

                        i{
                            font-size: 16px;
                            top: 1px;
                        }
                    }
                }

                li{
                    margin: 0px;
                    padding: 0 0 0 30px;
                    position: relative;
                    font-size: 1.2rem;
                    font-weight: var(--site-primary-font-normal);
                    width: 42%;

                    i{
                        color: var(--site-primary-color);
                        position: absolute;
                        left: 0px;
                        top: 4px;
                        font-size: 22px;
                    }
                }
            }
        }
    }
    // typography

    // site-btn
    .absolute-site-btn-type-1-hover{
        .absolute-site-btn-type-1{
            .iconic-alone-btn-type-1{
                position: relative;
                right: -50px;
                opacity: 0;
            }
        }

        &:hover{
            .absolute-site-btn-type-1{
                .iconic-alone-btn-type-1{
                    position: relative;
                    right: 0px;
                    opacity: 1;
                }
            }
        }
    }
    .absolute-site-btn-type-1{
        position: absolute;
        text-align: center;
        right: 0px;
        bottom: 0px;
        z-index: 1;
    }
    .group-btn-module{
        display: flex;
        column-gap: 20px;
    }
    .site-btn{
        display: inline-block;
        padding: 1.3rem 3rem;
        @include border-radius(2px);
        border: 1px solid transparent;
        position: relative;
        font-size: 1rem;
        line-height: normal;
        font-weight: var(--site-primary-font-normal);
        
        &.block-btn{
            width: 100%;
        }

        &.form-btn{
            @include transition(all 0.3s ease 0s);
            padding: 1rem 3rem;

            &.absolute-form-btn-type-1{
                position: absolute;
                right: 0px;
                top: 0px;
                height: 55px;
                padding: 0 15px;
            }
        }

        &.iconic-alone-btn-type-1{
            width: 50px;
            height: 50px;
            padding: 0px;
            text-align: center;
            line-height: 50px;
            font-size: 26px;
        }

        &.primary-color-btn{
            border: 1px solid transparent;
            background-color: var(--site-primary-color);
            color: white;
            box-shadow: inset 0 0 0 50px transparent;

            &:hover{
                box-shadow: inset 0 0 0 0 var(--site-primary-color);
                background-color: var(--site-primary-color-light);;
            }
        }

        &.primary-color-dark-btn{
            border: 1px solid transparent;
            background-color: var(--site-dark);
            color: white;
            box-shadow: inset 0 0 0 50px transparent;

            &:hover{
                box-shadow: inset 0 0 0 0 var(--site-dark);
                background-color: var(--site-primary-color-dark-light);;
            }
        }

        &.white-outline-btn{
            border-color: white;
            color: white;
            background-color: transparent;
            

            &:hover{
                background-color: white;
                color: var(--site-text-dark);
            }
        }
    }
    // site-btn

    // page-banner-module
    .page-banner-module{
        .main-carousel{
            height: calc(100vh + 75px);

            .flickity-slider, .flickity-viewport{
                height: 100%;
            }

            .carousel-cell{
                height: 100%;
                width: 100%;
            }

            .slider-img{
                position: absolute;
                width: 100%;
                height: 100%;
                &:before{
                    content: ' ';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(9, 30, 62, .8);
                    left: 0px;
                    top: 0px;
                }
                &.set-back{
                    background-repeat: no-repeat;
                    background-position: center top;
                    background-size: cover;
                }
            }

            .slider-content{
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0px;
                top: 0px;
                display: grid;
                align-items: center;
                z-index: 1;

                .animated{
                    -webkit-animation-duration: 1.3s;
                    animation-duration: 1.3s;
                }

                .normal-text-element-module{
                    max-width: 70%;

                    
                }
            }
        }
    }
    // page-banner-module

    // number-count-module
    .number-count-module{
        .my-col{
            & > .main-wrap{
                height: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 30px;
            }
        }

        .number-count-content{
            text-align: center;
            .the-title{
                font-size: 1.25rem;
                line-height: normal;
                margin-bottom: 5px;
            }
            .the-number{
                font-size: 2.5rem;
                font-weight: var(--site-primary-font-medium);
                line-height: normal;
                letter-spacing: 2px;
            }
        }
    }
    // number-count-module

    // module-header
    .module-header{
        padding-bottom: 1rem;
        position: relative;
        &.pull-text-center{
            &::before{
                left: 50%;
                margin-left: -75px;
            }
            &:after{
                -webkit-animation: moduleHeaderAnimatingLineCenter 5s infinite linear;
                animation: moduleHeaderAnimatingLineCenter 5s infinite linear;
            }
        }
        &:before{
            position: absolute;
            content: " ";
            width: 150px;
            height: 5px;
            left: 0;
            bottom: 0;
            background: var(--site-primary-color);
            border-radius: 2px;
        }
        &:after{
            position: absolute;
            content: " ";
            width: 6px;
            height: 5px;
            bottom: 0px;
            background: #FFFFFF;
            -webkit-animation: moduleHeaderAnimatingLine 5s infinite linear;
            animation: moduleHeaderAnimatingLine 5s infinite linear;
        }
        &.basic-entry{
            h4, h5, h6{
                color: var(--site-primary-color);
                font-weight: var(--site-primary-font-normal);
                text-transform: uppercase;
            }
        }
    }
    // module-header

    // testimonial-module
    .testimonial-module{
        .slick-dots{
            list-style: none;
            margin: 0px;
            padding: 0px;
            display: flex;
            column-gap: 10px;
            justify-content: center;
            margin-top: 30px;

            li{
                margin: 0px;
                padding: 0px;
                &.slick-active{
                    button{
                        width: 30px;
                        background-color: var(--site-primary-color);
                    }
                }

                button{
                    width: 15px;
                    height: 15px;
                    border-radius: 2px;
                    border: none;
                    font-size: 0px;
                    margin: 0px;
                    padding: 0px;
                    background-color: var(--site-secondary-color);
                    @include transition(all 1s ease 0s);
                }
            }
        }
        .testimonial-sliding-cell{
            padding: 30px 0;
            & > .main-wrap{
                background-color: var(--site-primary-color-extreme-light);
                @include transition(all 0.3s ease 0s);
            }

            &.slick-current{
                & > .main-wrap{
                    background-color: white;
                    box-shadow: 0 0 30px #DDDDDD;
                }
            }
        }
        .client-info{
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
            display: flex;
            column-gap: 20px;
            row-gap: 20px;
        }

        .client-dp{
            img{
                border-radius: 2px;
            }
        }
    }
    // testimonial-module

    // bild-with-text-widget
    .bild-with-text-widget{
        .normal-tag{
            display: flex;
            column-gap: 5px;
        }
        .absolute-tag{
            position: absolute;
            left: 0px;
            bottom: 100%;

            span{
                vertical-align: top;
                border-radius: 0px;
                font-weight: inherit;
            }
        }
        &:hover{
            .the-dp{
                img{
                    transform: scale(1.2, 1.2);
                }
                &:before{
                    opacity: 1;
                }

                .the-social{
                    -webkit-animation-name: bounceIn;
                    animation-name: bounceIn;
                    opacity: 1;
                }
            }
        }
        
        .the-dp{
            position: relative;
           overflow: hidden;
           position: relative;
           &.no-opech{
            &:before{
                display: none;
            }
           }
           img{
            @include transition(all 0.3s ease 0s);
           }
           .the-social{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 15px;
            z-index: 2;
            opacity: 0;
            
            i{
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                font-size: 24px;
            }
           }
            &:before{
                width: 100%;
                height: 100%;
                left: 0px;
                top: 0px;
                position: absolute;
                content: ' ';
                display: block;
                background-color: rgba(9, 30, 62, 0.8);
                z-index: 1;
                @include transition(all 0.3s ease 0s);
                opacity: 0;
            }
        }

        
    }
    // bild-with-text-widget

    // logo-carousel-module
    .logo-carousel-module{
        overflow: hidden;
        img{
            max-width: 80px;
        }
    }
    // logo-carousel-module

    // key frame animations
    @keyframes moduleHeaderAnimatingLine {
        0% {
            left: 0;
        }
        50% {
            left: 145px;
        }
        100% {
            left: 0;
        }
      }
    @keyframes moduleHeaderAnimatingLineCenter {
        0% {
            left: 50%;
            margin-left: -75px;
        }
        50% {
            margin-left: 70px;
        }
        100% {
            left: 50%;
            margin-left: -75px;
        }
      }
    // key frame animations
    

}