.fortress6 {
            

    // basic
    .section-pad-default{
        padding: 100px 0;
    }
    .section-padding-top-only{
        padding-bottom: 0px !important;
    }
    .section-padding-bottom-only{
        padding-top: 0px !important;
    }
    .default-row{
        row-gap: var(--bs-gutter-x);
    }
    .my-row{
        .no-gap-row{
            margin-left: 0px;
            margin-right: 0px;

            & > .my-col{
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
    .v-align-center{
        align-items: center;
    }
    .image-full-width{
        width: 100%;
        height: auto;
        max-width: 100%;
    }

    .bottom-right-view-arrow-link{
        text-align: right;
        @include transition(all 0.3s ease 0s);
        span{
            width: 25px;
            height: 25px;
            display: inline-block;
            background-color: var(--site-primary-color);
            border: 1px solid transparent;
            color: white;
            background-image: url(../Images/corner-up-arrow-white.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 12px;
            vertical-align: bottom;
            @include transition(all 0.3s ease 0s);
        }
    }

    // basic

    // site btn
    .site-btn{
        display: inline-block;
        padding: 0 110px 0 20px;
        font-size: 16px;
        letter-spacing: 1.5px;
        background-color: var(--site-primary-color);
        text-transform: uppercase;
        color: white;
        line-height: normal;
        height: 60px;
        line-height: 60px;
        position: relative;
        overflow: hidden;
        &:hover{
            &:before{
                top: -60px;
            }
            &:after{
                top: 0px;
            }
        }
        &:before{
            content: ' ';
            width: 60px;
            height: 60px;
            background-color: var(--site-primary-color-dark);
            display: inline-block;
            position: absolute;
            right: 0px;
            top: 0px;
            background-image: url(../Images/corner-up-arrow-white.svg);
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: center center;
            @include transition(all 0.3s ease 0s);
        }
        &:after{
            content: ' ';
            width: 60px;
            height: 60px;
            background-color: var(--site-dark-color);
            display: inline-block;
            position: absolute;
            right: 0px;
            top: 60px;
            background-image: url(../Images/corner-up-arrow-white.svg);
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: center center;
            z-index: 1;
            @include transition(all 0.3s ease 0s);
        }
    }
    // site btn

    // typography
    a{
        color: inherit;
    }
    h1{
        font-family: var(--secondary-font);
        font-weight: var(--secondary-font-medium);
        font-size: 134px;
        line-height: .84em;
        text-transform: uppercase;

        span{
            -webkit-text-stroke: 1px #fff;
            -webkit-text-fill-color: transparent;
        }
    }
    .text-dark{
        h1{
            span{
                -webkit-text-stroke: 1px var(--site-text-dark);
            }
        }
    }
    .module-header{
        position: relative;
        border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);

        &.text-dark{
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);

            h1, h2, h3, h4, h5, h6{
                border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
            }
        }

        &.no-line{
            border-bottom: none;

            h1, h2, h3, h4, h5, h6{
                border-top: none;
            }
        }

        &.only-top-line{
            border-bottom: none;

            h1, h2, h3, h4, h5, h6{
                display: block;
            }
        }
        
        h1, h2, h3, h4, h5, h6{
            padding: 15px 15px 20px 25px;
            display: inline-block;
            border-top: 1px solid rgba($color: #ffffff, $alpha: 0.2);
            letter-spacing: 1.5px;
            text-transform: uppercase;
            background-image: url(../Images/global-text-mark.png);
            background-position: left top 14px;
            background-repeat: no-repeat;
            background-size: 15px;
        }
    }
    h1, h2, h3, h4, h5, h6{
        font-weight: var(--primary-font-light);
    }
    .light-heading{
        h1, h2, h3, h4, h5, h6{
            font-weight: var(--primary-font-light);
        }
    }
    .thin-heading{
        h1, h2, h3, h4, h5, h6{
            font-weight: var(--primary-font-thin);
        }
    }
    
    p{
        letter-spacing: 1.5px;
        font-size: 16px;
        line-height: 30px;
    }
    // typography

    // start-page-banner
    .start-page-banner{
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        padding-bottom: 100px;

        &.view-two{
            min-height: inherit;
            padding: 200px 0;
        }
       

        &:before{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            z-index: 1;
            content: ' ';
            background-color: rgba($color: #000000, $alpha: 0.9);
            display: block;
        }

        .page-banner-first-view-content{
            height: 100vh;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 2;

            &.view-two{
                height: auto;
            }
        }

        .page-banner-normal-content{
            position: relative;
            z-index: 2;
        }
    }
    // start-page-banner

    // module-image-with-text-card
    .module-image-with-text-card{
        .my-col{
            & > .main-wrap{
                background-color: var(--site-dark-color);
                border: 1px solid transparent;
                @include transition(all 0.3s ease 0s);
              
                a{
                    padding: 15px;
                    display: block;
                }
                &:hover{
                    background-color: transparent;
                    border-color: rgba($color: #ffffff, $alpha: 0.2);

                    .bottom-right-view-arrow-link{
                        span{
                            border-color: var(--site-primary-color);
                            background-color: transparent;
                            background-image: url(../Images/corner-up-arrow-primary.svg);
                        }
                    }
                }
            }
        }
    }
    // module-image-with-text-card

    // covered-image-content-module
    .covered-image-content-module{
        .covered-image-part{
            &.set-back{
                background-size: cover;
                background-position: center top;
                background-size: cover;

                & > img{
                    width: 100%;
                    height: auto;
                    display: block;
                    visibility: hidden;
                }
            }
        }
    }
    // covered-image-content-module


}