.fortress6 {

    //basic starts
    .uplift-section-type-1{
        margin-top: -75px;
    }
    .grid-flex-v-align-center{
        align-items: center;
    }
    .row-with-col-auto-column-gap-1{
        column-gap: 50px;
    }
    .content-justify-center{
        justify-content: center;
    }
    .my-row{
        &.attach-row{
            margin-left: 0px;
            margin-right: 0px;

            & > .my-col{
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
    .element-gap-normal{
        margin-bottom: 3rem;
    }
    //basic ends

    // global square icon
    .global-square-icon{
        i{
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            border-radius: 2px;
            font-size: 18px;
        }
    }
    // global square icon

    // typography
    .basic-entry{
        h1{
            font-size: 5rem;
            line-height: 1.2;
        }

        h2{
            font-size: 4rem;
            line-height: normal;
        }

        h3{
            font-size: 3rem;
            line-height: normal;
        }

        h4{
            font-size: 2rem;
            line-height: normal;
        }

        h5{
            font-size: 1rem;
            line-height: normal;
        }

        h6{
            font-size: 0.8rem;
            line-height: normal;
        }
    }
    // typography

    // site-btn
    .group-btn-module{
        display: flex;
        column-gap: 20px;
    }
    .site-btn{
        display: inline-block;
        padding: 1.3rem 3rem;
        @include border-radius(2px);
        border: 1px solid transparent;
        position: relative;
        font-size: 1rem;
        line-height: normal;
        font-weight: var(--site-primary-font-normal);

        &.primary-color-btn{
            border: 1px solid transparent;
            background-color: var(--site-primary-color);
            color: white;
            box-shadow: inset 0 0 0 50px transparent;

            &:hover{
                box-shadow: inset 0 0 0 0 var(--site-primary-color);
                background-color: var(--site-primary-color-light);;
            }
        }

        &.white-outline-btn{
            border-color: white;
            color: white;
            background-color: transparent;
            

            &:hover{
                background-color: white;
                color: var(--site-text-dark);
            }
        }
    }
    // site-btn

    // page-banner-module
    .page-banner-module{
        .main-carousel{
            height: calc(100vh + 75px);

            .flickity-slider, .flickity-viewport{
                height: 100%;
            }

            .carousel-cell{
                height: 100%;
                width: 100%;
            }

            .slider-img{
                position: absolute;
                width: 100%;
                height: 100%;
                &:before{
                    content: ' ';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(9, 30, 62, .8);
                    left: 0px;
                    top: 0px;
                }
                &.set-back{
                    background-repeat: no-repeat;
                    background-position: center top;
                    background-size: cover;
                }
            }

            .slider-content{
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0px;
                top: 0px;
                display: grid;
                align-items: center;
                z-index: 1;

                .animated{
                    -webkit-animation-duration: 1.3s;
                    animation-duration: 1.3s;
                }

                .normal-text-element-module{
                    max-width: 70%;

                    &.basic-entry{
                        h1{
                            font-weight: var(--site-primary-font-light);
                        }
                        h2, h3, h4, h5, h6{
                            font-weight: var(--site-primary-font-thin);
                        }
                    }
                }
            }
        }
    }
    // page-banner-module

    // number-count-module
    .number-count-module{
        .my-col{
            & > .main-wrap{
                height: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 30px;
            }
        }

        .number-count-content{
            text-align: center;
            .the-title{
                font-size: 1.25rem;
                line-height: normal;
                margin-bottom: 5px;
            }
            .the-number{
                font-size: 2.5rem;
                font-weight: var(--site-primary-font-medium);
                line-height: normal;
                letter-spacing: 2px;
            }
        }
    }
    // number-count-module

}