.fortress6{

    .footer-menu-links{
        ul{
            list-style: none;
            margin: 0px;
            padding: 0px;

            li{
                margin: 10px 0 0 0;
                padding: 0px;
                font-size: 16px;
                letter-spacing: 3px;

                &:first-child{
                    margin-top: 0px;
                }

                &:hover{
                    & > a{
                        color: var(--site-primary-color);
                    }
                }

                a{
                    color: var(--site-dark-color);
                }
            }
        }
    }

    .footer-social-text{
        padding: 10px;
        p{
            font-size: 12px;
        }
        
    }

    .footer-essential-link{
        padding: 0 10px;
        &.basic-entry{
            p{
                font-size: 12px;
            }
        }
        a{
            margin-left: 10px;

            &:first-child{
                margin-left: 0px;
            }
        }
    }

    .footer-social-link{
        display: flex;
        & > div{
            width: 80px;
            height: 80px;
            text-align: center;
            line-height: 80px;
            color: var(--site-dark-color);
            border-left: 1px solid rgba(28,28,28,0.2);
            font-size: 26px;
            position: relative;
            // &:last-child{
            //     border-right: 1px solid rgba(255, 255, 255, 0.2);
            // }
            &:before{
                content: ' ';
                width: 0px;
                left: 0px;
                top: -1px;
                height: 1px;
                background-color: var(--site-primary-color);
                position: absolute;
                @include transition(all 0.3s ease 0s);
            }
            &:after{
                content: ' ';
                width: 0px;
                right: 0px;
                bottom: -1px;
                height: 1px;
                background-color: var(--site-primary-color);
                position: absolute;
                @include transition(all 0.3s ease 0s);
            }
            &:hover{
                &:before, &:after{
                    width: 100%;
                }
            }
            
            &:hover{
                color: var(--site-primary-color);

                a{
                    &:before, &:after{
                        height: 82px;
                    }
                }
            }
            a{
                display: block;
                position: relative;

                &:before{
                    content: ' ';
                    width: 1px;
                    right: -1px;
                    top: -1px;
                    height: 0px;
                    background-color: var(--site-primary-color);
                    position: absolute;
                    @include transition(all 0.3s ease 0s);
                }
                &:after{
                    content: ' ';
                    width: 1px;
                    left: -1px;
                    bottom: -1px;
                    height: 0px;
                    background-color: var(--site-primary-color);
                    position: absolute;
                    @include transition(all 0.3s ease 0s);
                }
            }
        }
    }
	
	
}