// fonts

:root{
    --site-primary-font: 'Roboto';
    --site-primary-font-normal: normal;
    --site-primary-font-thin: 100;
    --site-primary-font-light: 300;
    --site-primary-font-medium: 500;
    --site-primary-font-bold: bold;
    --site-primary-font-black: 900;
}









// colors
:root{
    --site-primary-color: #009ee3;
    --site-primary-color-light: #04b2fc;
    --site-primary-color-extreme-light: #EEF9FF;
    --site-secondary-color: #6e7070;
    --site-text-dark: #091E3E;
    --site-dark: #091E3E;
    --site-primary-color-dark-light: #143972;
    --site-dark-2: #061429;
}

// breakpoints
  $sm: 576px;
  $md: 768px;
  $lg: 992px;
  $xl: 1200px;
  $xxl: 1400px;
