// fonts
:root{
    --primary-font: 'Roboto';
    --primary-font-regular: normal;
    --primary-font-thin: 100;
    --primary-font-light: 300;
    --primary-font-medium: 500;
    --primary-font-bold: bold;
    --primary-font-black: 900;
}










// colors
:root{
    --site-dark-color: #1c1c1c;
    --site-primary-color: #f4522c;
}

$site-dark-color: #1c1c1c;