// fonts
:root{
    --primary-font: 'Roboto';
    --primary-font-regular: normal;
    --primary-font-thin: 100;
    --primary-font-light: 300;
    --primary-font-medium: 500;
    --primary-font-bold: bold;
    --primary-font-black: 900;
    --secondary-font: 'Grotesk';
    --secondary-font-medium: 500;
}










// colors
:root{
    --site-dark-color: #1c1c1c;
    --site-light-grey-color: #f1f2f4;
    --site-primary-color: #ff5b15;
    --site-primary-color-dark: #c83c01;
    --site-text-dark: #212529;
}

$site-dark-color: #1c1c1c;